.points-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.small-points-controls-container {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}

.points-controls {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
}
